/*----------------Top of Page Button-------------------*/

#myBtn {
 display: none;
 /* Hidden by default */
 position: fixed;
 /* Fixed/sticky position */
 bottom: 20px;
 /* Place the button at the bottom of the page */
 right: 30px;
 /* Place the button 30px from the right */
 z-index: 99;
 /* Make sure it does not overlap */
 border: none;
 /* Remove borders */
 outline: none;
 /* Remove outline */
 background-color: #f05f40;
 /* Set a background color */
 color: white;
 /* Text color */
 cursor: pointer;
 /* Add a mouse pointer on hover */
 padding: 15px;
 /* Some padding */
 border-radius: 10px;
 /* Rounded corners */
 font-size: 18px;
 /* Increase font size */
}

#myBtn :hover {
 background-color: #ffffff;
 /* Add a dark-grey background on hover */
}


/*nav bar*/

.navbar-inverse {
 background-color: #222222;
 border-color: transparent;
}

.navbar navbar-inverse {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
 border: 0;
 margin: 0px;
 padding-left: 0px;
 padding-right: 0px;
 width: 100%;
}

.container-fluid {
 margin: 0px;
}

.navbar-brand {
 height: 50px;
 padding: 0px 0px;
 position: relative;
}

.navbar-default .navbar-collapse {
 border-color: transparent;
}

.navbar-default .navbar-toggle {
 border: 0;
}

.navbar-default .navbar-toggle:hover {
 background-color: transparent;
}


.navbar .navbar-brand {
 font-weight: bold;
 color: white;
}

.navbar-default .navbar-nav a {
 font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
 color: white;
 background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
 color: white;
}

.navbar-btn {
 border: 0;
 border-radius: 16px;
 width: 100px;
 background-color: #f05f40;
 color: white;
}

.navbar-toggle {
 position: relative;
 float: right;
 padding: 9px 10px;
 margin-top: 8px;
 margin-right: 15px;
 margin-bottom: 8px;
 background-color: transparent;
 border: none;
 border-radius: 0;
}

.navbar-collapse {
 padding-right: 25px;
 padding-left: 30px;
 overflow-x: visible;
 -webkit-overflow-scrolling: touch;
 border-top: 1px solid transparent;
 -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.modal-header {
 background-color: #333;
 color: #fff !important;
 text-align: center;
 font-size: 30px;
}




/*background for all pages*/

body {
 text-align: center;
 font-family: 'Roboto', sans-serif;
 color: #fafafa;
 height: 100%;
 background: url('./images/black-sabbath-collage.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
}

/*media query body*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 425px) {
 body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  height: 100%;
  background: url('./images/black-sabbath-collage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   zoom: normal;
 }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
 body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  height: 100%;
  background: url('./images/black-sabbath-collage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }

}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
 body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  height: 100%;
  background: url('./images/black-sabbath-collage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
 body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  height: 100%;
  background: url('./images/black-sabbath-collage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
 body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  height: 100%;
  background: url('./images/black-sabbath-collage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }
}

/* index*/

.carousel-control.right {
 right: 0;
 left: auto;
 background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
 background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
 background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
 background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
 background-repeat: repeat-x;
 height: 450px;
}

.carousel-control.left {
 left: 0;
 right: auto;
 background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
 background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
 background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
 background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
 background-repeat: repeat-x;
 height: 450px;
}

audio {
 width: 300px;
 height: 54px;

}

.row {
 Margin: 0;
}

.transboxhome {
 margin-top: 20px;
 border: 1px;
 border-style: solid;
 border-color: grey;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 22px;
 padding-bottom: 10px;
}


#audiosection {
 margin-top: 20px;
 border: 1px;
 border-style: solid;
 border-color: grey;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 22px;
 padding-bottom: 10px;
 width: 360px;
 margin-left: auto;
 margin-right: auto;
}

.transboxhome h1 h2 {
 font-weight: bold;
 color: #FFFFFF;
 text-align: center;
}

.transboxhome p {
 margin: 0 auto;
 font-weight: bold;
 color: #FFFFFF;
 text-align: center;
}

.btn-default {
 color: #fff;
 background-color: #f05f40;
 border-color: #f05f40;
}

.btn {
 display: inline-block;
 padding: 1px;
 margin-bottom: 0;
 font-size: 14px;
 font-weight: 400;
 line-height: 1.42857143;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 -ms-touch-action: auto;
 touch-action: auto;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-image: none;
 background-color: #f05f40;
 border: 1px solid transparent;
 border-radius: 4px;
}

/*media Query*/

@media (max-width: 425px) {
 audio {
  width: 200px;
  height: 54px;
  float: left;
 }
 #audiosection {
  margin-top: 20px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  padding-bottom: 10px;
  width: 260px;
 }
 .audio-wrapper {
  text-align: center;
 }

}

@media (max-width: 425px) {
 .transboxhome {
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
 }


 .transboxhome p {
  margin: 5%;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
 }

}

/* band page */

.transbox {
 margin: 10px;
 border: 1px;
 border-style: solid;
 border-color: grey;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 22px;
}

blockquote {
 /* padding: 5px; */
 /* margin: 0 0 20px; */
 /* font-size: 17.5px; */
 /* border-left: 5px solid #eee; */
 /* border-radius: 22px; */
 /* text-decoration: none; */
 border-left: none;
}

/* Style the Image Used to Trigger the Modal */

#Osbourneimg,
#tonyimg,
#geezerImg,
#wardImg {
 height: 150px;
 width: 150px;
 position: relative;
 border-radius: 50%;
 cursor: pointer;
 transition: 0.7s;
}

#Osbourneimg:hover,
#tonyimg:hover,
#geezerImg:hover,
#wardImg:hover {
 opacity: 0.7;

}

/* Modal image position*/

.media-body,
.media-left,
.media-right {
 display: table-cell;
 vertical-align: middle;
}

/* The Modal (background) */

.modal-band {
 display: none;
 /* Hidden by default */
 position: fixed;
 /* Stay in place */
 z-index: 1;
 /* Sit on top */
 padding-top: 100px;
 /* Location of the box */
 left: 0;
 top: 0;
 width: 100%;
 /* Full width */
 height: 100%;
 /* Full height */
 overflow: auto;
 /* Enable scroll if needed */
 background-color: rgb(0, 0, 0);
 /* Fallback color */
 background-color: rgba(0, 0, 0, 0.9);
 /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-info,
.modal-two,
.modal-three,
.modal-four {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 500px;
 height: 500px;
 margin-top: -40px;
 border-radius: 12px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption,
#captionKR,
#captionCW,
#captionRW {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
 text-align: center;
 color: #ccc;
 padding: 10px 0;
 height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-info,
.modal-two,
.modal-three,
.modal-four,
#caption,
#captionKR,
#captionCW,
#captionRW {
 animation-name: zoom;
 animation-duration: 0.6s;
}

@keyframes zoom {
 from {
  transform: scale(0)
 }
 to {
  transform: scale(1)
 }
}

/* The Close Button */

.close-band,
.close-two,
.close-three,
.close-four {
 position: absolute;
 top: 15px;
 right: 35px;
 color: #f1f1f1;
 font-size: 40px;
 font-weight: bold;
 transition: 0.3s;
}

.close-band:hover,
.close-band:focus,
.close-two:hover,
.close-two:focus,
.close-three:hover,
.close-three:focus,
.close-four:hover,
.close-four:focus {
 color: #bbb;
 text-decoration: none;
 cursor: pointer;
}



/* videos */

.header-logo {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.embed-responsive {
 margin-top: 10px;
 margin-bottom: 20px;
 border-radius: 6px;
}

.video-wrapper {
 margin-top: 10px;
 font-weight: bold;
 color: #ffffff;

}

.transboxvideo {
 border: 1px;
 border-style: solid;
 border-color: grey;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 22px;
 margin-bottom: 20px;
 margin-top: 10px;
 padding: 10px;
}

/*albums page*/

.headingalbum {

 margin-bottom: 20px;

}

.caption {
 text-align: center;
 font-weight: bold;
 font-size: 16px;
}

.albumartwork {
 margin-top: 25px;
 height: 250px;
 width: 250px;
 border-radius: 22px;
}


.thumbnail2 {
 display: block;
 margin: 0 auto;
 padding: 0px;
 margin-bottom: 20px;
 line-height: 1.42857143;
 -webkit-transition: border .2s ease-in-out;
 -o-transition: border .2s ease-in-out;
 transition: border .2s ease-in-out;
 border: 1px;
 border-style: solid;
 border-color: grey;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 22px;
 width: 350px;
}

ul {
 text-align: center;

}

.thumbnail2 .caption {
 color: #FFFFFF;
 text-align: center;

}


.transboxalbum {
 border: 1px;
 border-style: solid;
 border-color: grey;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 22px;
 margin-bottom: 20px;
 margin-top: 10px;
 padding: 5px;
}



/*media Query*/

@media (max-width: 425px) {
 .thumbnail2 {
  display: block;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: 300px;

 }


}

/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {
 .thumbnail2 {
  display: block;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: 300px;

 }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 600px) {
 .thumbnail2 {
  display: block;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: 300px;

 }
}

/* Medium devices (landscape tablets, 768px and up) */

@media (min-width: 768px) {
 .thumbnail2 {
  display: block;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: 300px;

 }
}

/* Large devices (laptops/desktops, 992px and up) */

@media (min-width: 992px) {
 .thumbnail2 {
  display: block;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: 300px;

 }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media (min-width: 1200px) {
 .thumbnail2 {
  display: block;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: 300px;

 }
}


/* tour page */

.transboxbookingtour {
 margin: 40px auto;
 border: 1px;
 border-style: solid;
 border-color: grey;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 22px;
 width: auto;
 position: relative;

}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
 width: 1000px;
 height: 550px;
}

.carousel-inner img {
 -webkit-filter: grayscale(90%);
 filter: grayscale(90%);
 /* make all photos black and white */
 margin: auto;


}

.carousel-caption h3 {
 color: #00000 !important;
}

.thumbnail>img {
 border-style: solid;
 border-color: #515151;
 border-width: 2px;
 width: 350px;
 height: 300px;
}


.thumbnail {
 display: block;
 padding: 4px;
 margin-bottom: 20px;
 line-height: 1.42857143;
 background-color: transparent;
 border: none;
 -webkit-transition: border .2s ease-in-out;
 -o-transition: border .2s ease-in-out;
 transition: border .2s ease-in-out;
}

.transboxbookingcity {
 margin-top: 15px;
 color: #ffffff;
 border: 1px;
 border-style: solid;
 border-color: grey;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 22px;
 text-align: center;
 padding: 10px;
 width: auto;

}

.list-group {
 padding-left: 0;
 margin-bottom: 20px;
 color: black;
 /* background-color: grey; */
}

/*media queries targetting body on every page. ensuring complete fluid user experience*/

/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {
 .transboxbookingtour {
  margin: 40px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: auto;
  position: relative;
 }
 .thumbnail>img {
  border-style: solid;
  border-color: #515151;
  width: 350px;
  height: 300px;
 }


 .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: transparent;
  border: none;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
 }

 .transboxbookingcity {
  margin-top: 15px;
  color: #ffffff;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  text-align: center;
  padding: 10px;
  width: auto;

 }


}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 600px) {

 .transboxbookingtour {
  margin: 40px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: auto;
  position: relative;
 }

 .thumbnail>img {
  border-style: solid;
  border-color: #515151;
  border-width: 2px;
  width: 350px;
  height: 300px;
 }


 .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: transparent;
  border: none;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
 }

 .transboxbookingcity {
  margin-top: 15px;
  color: #ffffff;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  text-align: center;
  padding: 10px;
  width: auto;

 }

}

/* Medium devices (landscape tablets, 768px and up) */

@media (min-width: 768px) {
 .transboxbookingtour {
  margin: 40px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: auto;
  position: relative;

 }
 .thumbnail>img {
  border-style: solid;
  border-color: #515151;
  border-width: 2px;
  width: 350px;
  height: 300px;
 }


 .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: transparent;
  border: none;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
 }

 .transboxbookingcity {
  margin-top: 15px;
  color: #ffffff;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  text-align: center;
  padding: 10px;
  width: auto;

 }

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
 .transboxbookingtour {
  margin: 40px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: auto;
  position: relative;

 }
 .thumbnail>img {
  border-style: solid;
  border-color: #515151;
  border-width: 2px;
  width: 350px;
  height: 300px;
 }


 .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: transparent;
  border: none;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
 }

 .transboxbookingcity {
  margin-top: 15px;
  color: #ffffff;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  text-align: center;
  padding: 10px;
  width: auto;

 }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media (max-width: 1300px) {
 .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #777777;
  border: 1px solid #1b1b1b;
  color: #fffbfb;
 }
 .transboxbookingtour {
  margin: 40px;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  width: auto;
  position: relative;

 }
 .thumbnail>img {
  border-style: solid;
  border-color: #515151;
  border-width: 2px;
  width: 350px;
  height: 300px;
 }


 .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: transparent;
  border: none;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
 }

 .transboxbookingcity {
  margin-top: 15px;
  color: #ffffff;
  border: 1px;
  border-style: solid;
  border-color: grey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 22px;
  text-align: center;
  padding: 10px;
  width: auto;

 }
}


@media (max-width: 600px) {
 .carousel-caption {
  display: none;
  /* Hide the carousel text when the screen is less than 600 pixels wide */
 }
}

@media (min-width: 600px) {
 .carousel-caption {
  display: none;
  /* Hide the carousel text when the screen is less than 600 pixels wide */
 }
}

@media (min-width: 992px) {
 .carousel-inner>.item>a>img,
 .carousel-inner>.item>img {
  width: 600px;
  height: 450px;
 }
}

/* footer */

.social-links li a i {
 width: 45px;
 height: 45px;
 padding: 19px 0;
 border-radius: 50%;
 font-size: 22px;
 left: 0;
 line-height: 7px;
 text-align: center;
 color: #fafafa;
 transition: transform;
 transition-duration: 1s;
}

.general-sub {
 color: #fafafa;
}

.social-links li a i:hover {
 transform: rotate(720deg);
}


.form-group {
 margin-bottom: 15px;
 color: #333;
}

.modal-header {
 padding: 15px;
 border-bottom: 1px solid #ccc;
 color: #333;
}

.modal-title {
 font-weight: bolder;
 text-align: center;

}

.modal-content {
 margin-top: 30px
}

select {
 border-radius: 4px;
 margin-right: 5px;

}


/*----Media Queries---*/

@media (min-width: 992px) {
 .text-fix {
  font-size: 1.3em;
 }
}

@media (max-width: 1300px) {
 .header-pic {
  height: 45vh;
 }
 /*media queries targetting body on every page. ensuring complete fluid user experience*/
 /* Extra small devices (phones, 600px and down) */
 @media (max-width: 600px) {
  .container,
  .col-lg-12,
  .col-md-12,
  .col-sm-12,
  .col-xs-12 {
   text-align: center;
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media (min-width: 600px) {
  .container,
  .col-lg-12,
  .col-md-12,
  .col-sm-12,
  .col-xs-12 {
   text-align: center;
  }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media (min-width: 768px) {
  .container,
  .col-lg-12,
  .col-md-12,
  .col-sm-12,
  .col-xs-12 {
   text-align: center;
  }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .container,
  .col-lg-12,
  .col-md-12,
  .col-sm-12,
  .col-xs-12 {
   text-align: center;
   width: 100%;
  }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media (max-width: 1300px) {
  .container,
  .col-lg-12 {
   text-align: center;
   width: 100%;
  }
 }







 @media (max-width: 993px) {
  .header-pic {
   height: 40vh;
  }


  .media-object {
   height: 175px;
   width: 175px;
  }

  img.rs-heading-logo {
   height: 250px;
   width: 250px;
  }

  img.media-object-info {
   height: 350px;
   width: 400px;
  }



  #Osbourneimg,
  #tonyimg,
  #geezerImg,
  #wardImg {
   height: 175px;
   width: 175px;
  }

 }

 @media (max-width: 769px) {
  .header-pic {
   height: 30vh;
  }

  .footer-pic {
   height: 25vh;
  }

  .media-object {
   height: 125px;
   width: 125px;
  }


  div.page-header {
   margin-top: 0px;
  }


  #Osbourneimg,
  #tonyimg,
  #geezerImg,
  #wardImg {
   height: 200px;
   width: 200px;
  }

 }

 @media (max-width: 425px) {
  .header-pic {
   height: 22.5vh;
  }

  .footer-pic {
   height: 17.5vh;
  }

  .band-paragraph {
   text-align: center;
  }

  .media-object {
   height: 75px;
   width: 75px;
  }

  .booking-pic {
   height: 250px;
  }

  img.rs-heading-logo {
   height: 175px;
   width: 175px;
  }

  img.media-object-info {
   height: 250px;
   width: 300px;
  }

  .media-text-fix {
   text-align: center;
   height: 320px;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 60px;
  }

  div.page-header {
   margin-top: 20px;
  }

  .album-headings {
   margin-top: 0;
  }



  #Osbourneimg,
  #tonyimg,
  #geezerImg,
  #wardImg {
   height: 200px;
   width: 200px;
  }

  .modal-info,
  .modal-two,
  .modal-three,
  .modal-four {
   max-width: 350px;
   height: 350px;
   margin-top: 30px;
   border-radius: 12px;
  }
 }

 /*---Media Queries Band Section--*/
 @media (max-width: 425px) {
  img#Osbourneimg,
  img#tonyimg,
  img#geezerImg,
  img#wardImg {
   margin: auto;
  }

  .band {
   display: block;
   padding-bottom: 0;
  }

  .media-body.summary {
   text-align: center;
  }

  blockquote.bio.hide-mobile {
   border-left: none;
  }
 }



 /*all btns*/
 .btn {
  padding: 5px 2px;
  padding-top: 5px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-left: 2px;
  background-color: #f5652b;
  color: #fffcfc;
  border-radius: 12px;
  transition: .2s;
 }

 .btn:hover,
 .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
 }

 .modal-header,
 .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
 }

 .modal-header,
 .modal-body {
  padding: 40px 50px;
 }

 .nav-tabs li a {
  color: #777;
 }

 .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #777777;
  border: 1px solid #1b1b1b;
  color: #fffbfb;
 }

 .thumbnail p {
  margin-top: 15px;
  color: #f5f8fa;
 }

 .img-responsive,
 .thumbnail a>img,
 .thumbnail>img {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-style: solid;
  border-color: #515151;
 }


 #btnbtn-defaultbtn-sm {
  padding: 3px;
  background-color: #f5652b;
  color: #f1f1f1;
  border-radius: 10px;
  transition: .2s;

 }
